blockquote {
  border-left: 0.3rem solid #ebebeb;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  opacity: 0.5;
  margin-left: 1em;
  padding: 1rem 1.5rem;
  font-family: 'PT Serif', serif;

  & *:last-child {
    margin: 0;
  }
}
