$color-primary: #00CC99;
.primary {color: $color-primary; }
.primary-bg { background-color: $color-primary; }

$color-primary-light: #dfdac8;
.primary-light {color: $color-primary-light; }
.primary-light-bg { background-color: $color-primary-light; }

$color-white: #fff;
.white { color: $color-white; }
.white-bg { background-color: $color-white; }

$green: #7fc47c;
.green { color: $green; }

$red: #c97875;
.red { color: $red; }

$greys: 5 10 25 50 60 70 90 95;

@each $i in $greys {
  .grey-#{$i} {
    color: darken(white, $i);
  }
  .grey-#{$i}-bg {
    background-color: darken(white, $i);
  }
  .grey-#{$i}-border {
    border-color: darken(white, $i);
  }
}
