.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.t0 {
  top: 0;
}

.t1{
  top: 1;
}

.l1{
  left: 1;
}

.b0 {
  bottom: 0;
}

.l0 {
  left: 0;
}

.r0 {
  right: 0;
}

.ta {
  top: auto;
}

.ba {
  bottom: auto;
}

.la {
  left: auto;
}

.ra {
  right: auto;
}
