@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic,700italic,700,400);

* {
  -webkit-font-smoothing: antialiased;
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.8;
  @extend .sans-serif;
}

.logo{
  font-family: 'Satisfy', cursive;
  font-size: 2rem;
}

.markdown {
  font-size: 1.5rem;
}

code, pre, .monospace  {
  font-family: 'Roboto Mono' ;
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.serif {
  font-family: 'PT Serif', serif;
}

//aligns
@include r(right) {
  text-align: right;
}

@include r(left) {
  text-algin: left;
}

@include r(center) {
  text-align: center;
}

p {
  margin-top: 0;
}


//sizing
.small {
  font-size: 0.75em;
}

.smaller {
  font-size: 0.5em;
}

// weight
.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

//transforms
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

//styles
.italic {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  margin-top: 0;
  font-weight: 400;
}


h1, .h1 {
  font-size: 4rem;
  line-height: 1.2;
  @extend .serif;
  @media screen and (max-width: 40em) {
    font-size: 3.5rem;
  }
}

h2, .h2 {
  font-size:  2.2rem;
  line-height: 1.25;
}

h3, .h3 {
  font-size: 2rem;
  line-height: 1.3;
}

h4, .h4 {
  font-size: 1.7rem;
  line-height: 1.35;
}

h5, .h5 {
  font-size: 1.4rem;
  line-height: 1.5;
}

h6, .h6 {
  font-size: 1.2rem;
  line-height: 1.4;
}
